* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('weather.jpg'); /* Background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #201919;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

/* Glassmorphism for the weather box */
.weather-app {
  background: rgba(255, 255, 255, 0.3); /* Semi-transparent white */
  color: #201919;
  padding: 20px;
  border-radius: 20px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37); /* Frosted glass shadow */
  backdrop-filter: blur(10px); /* Frosted effect */
  -webkit-backdrop-filter: blur(10px); /* Frosted effect for Safari */
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.weather-main {
  margin-bottom: 20px;
}

#main-weather {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#temperature {
  font-size: 48px;
  font-weight: bold;
  margin-right: 20px;
  color: #ffffff; /* White text for better readability */
}

#description {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

#details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #ffffff;
}

#details span {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

/* Neomorphism style for the input box */
input {
  padding: 12px;
  width: 80%;
  margin-bottom: 15px;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 700;
  color: #201919;
  background: #e0e0e0;
  box-shadow: 8px 8px 15px #b8b9be, -8px -8px 15px #ffffff; /* Neomorphic shadow */
  border: none;
  outline: none;
}

button {
  padding: 8px 16px;
  background-color: #201919;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: large;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}

#icon {
  font-size: 50px;
  padding-right: 20px;
  color: #ffffff;
}

/* Responsive adjustments */
@media (max-width: 480px) {
  .weather-app {
    padding: 15px;
    max-width: 80%;
  }

  #temperature {
    font-size: 36px;
    margin-right: 10px;
  }

  #description {
    font-size: 16px;
  }

  #details span {
    font-size: 16px;
  }

  input {
    width: 100%;
    font-size: 18px;
  }

  button {
    width: 100%;
    padding: 10px;
    font-size: medium;
  }

  #icon {
    font-size: 40px;
    padding-right: 10px;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    margin-bottom: 10px;
  }

  button {
    margin-bottom: 15px;
  }
}
